body {
  background-color: #1D3557; /* Couleur de fond du site */
}

p, i {
  color: #F1FAEE; /* Couleur des paragraphes */
  font-family: 'Open Sans', sans-serif;
  text-align: center; /* Justifie les paragraphes */
  font-size: 20px;
  height: auto;
  width: auto;
}

h1 {
  color: #457D9B; /* Couleur du titre */
  font-size: 60px;
  height: auto;
  width: auto;
}

h3 {
  color: #A8DADC; /* Couleur des titres du sommaire */
  font-size: 40px;
  height: auto;
  width: auto;
}

div ol {
  list-style-type: none;
	margin: 35px auto;
  padding: 20px;
  background-color: black;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
	display: table;
	width: 1000px;
}

li a:hover {
  background-color: #457D9B;
  border-radius: 10px;
}

ol li {
  list-style-type: none; /* Enlève les nombres de la liste ordonnée */
  text-align: center;
}

li a {
  color: #E63946; /* Couleur des boutons */
  text-decoration: none; /* Enlève le souslignage des boutons */
  font-family: 'Roboto', sans-serif; /* Ajoute le fond 'Merriweather' sur les boutons */
  font-size: 20px;
  height: auto;
  width: auto;
  display: block;
  padding: 30px 30px;
}

h1, h3 {
  text-align: center; /* Remet les titres au milieu de la page web */
  font-family: 'Roboto', sans-serif;
}

#profil {
  width: 240px;
  height: 320px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  object-fit: cover;
}

.tiret {
  color: #F1FAEE; /* Couleur de la liste dans la partie Lecture et écriture */
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

div ol li {
  display: table-cell;
}

.block {
  width: 1000px;
  margin: 35px auto;
  border-radius: 10px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.6);
  padding: 20px;
  background-color: black;
}
